<div class="row">
    <div class="col-md-2">
        <canvas id="monCanvas" width="125" height="150"
                style="border:1px solid #000000;">

        </canvas>
    </div>
    <div class="col-md-8">
        <h4 class="centre-text">CARTE DE CONDUITE</h4>
        <h4 class="centre-text">N...............................</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br>
        <p>Nom:.........................................................................................</p>
        <p>Prénom:......................................................................................</p>
        <p>Date de naissance:...........................................................................</p>
        <p>Lieu de naissance............................................................................</p>
        <p>Profession:..................................................................................</p>
        <p>Permis demandé:..............................................................................</p>
        <p>Etat de versement:...........................................................................</p>
        <p>Laisser passer pour:</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <p>Créneau</p>
        <canvas id="monCanvas1" width="65" height=35"
                style="border:1px solid #000000;">
        </canvas>
    </div>
    <div class="col-4">
        <p>Conduite</p>
        <canvas id="monCanvas1" width="65" height="35"
                style="border:1px solid #000000;">
        </canvas>

    </div>
</div>